/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.audio-files-container.dragover {
  background-color: var(--background-modifier-hover);
}

.dragover {
  background-color: var(--background-modifier-hover);
}

.audio-files-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
